@font-face {
  font-family: "courier";
  src: url("../fonts/CourierPrime-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "inter";
  src: url("../fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}
canvas {
  position: absolute;
  --size: 100vmin;
  width: var(--size);
  height: var(--size);
}
#error {
  font-family: "courier";
  font-size: 4vmin;
  background: transparent;
  color: #d01;
  position: absolute;
  --size: 100vmin;
  --pad: 5vmin;
  width: calc(var(--size) - var(--pad)*2);
  height: calc(var(--size) - var(--pad)*2);
  padding: var(--pad);
  overflow: hidden;
}