:root[data-theme="light"] {
  --text: #000;
  --background: #fff;
  --primary: #fbfbfe;
  --secondary: #dde;
  --accent: #e81756;
}
:root[data-theme="dark"] {
  --text: #fff;
  --background: #000;
  --primary: #121215;
  --secondary: #222225;
  --accent: #e81756;
}
@font-face {
  font-family: "inter";
  src: url("../fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}
@font-face {
  font-family: "estedad";
  src: url("../fonts/Estedad[KSHD,wght].woff2");
}
* {
  padding: 0;
  margin: 0;
  font-family: "inter","estedad";
  vertical-align: text-top;
  text-align: auto !important;
  unicode-bidi: plaintext !important;
  color: var(--text);
  transition: color 0.5s ease;
}
* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
img {
  pointer-events: none;
}
textarea, input {
  -webkit-user-select: auto;
  -khtml-user-select: auto;
  -moz-user-select: auto;
  -o-user-select: auto;
  user-select: auto;
}
::selection {
  background-color: var(--text);
  color: var(--background);
}
::-webkit-selection {
  background-color: var(--text);
  color: var(--background);
}
html {
  background: var(--background);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  background: var(--background);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overscroll-behavior: none;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}
#container {
  position: fixed;
  width: calc(min(100% ,600px) - 2px);
  height: calc(100% - 2px);
  min-height: 100%;
  padding: 0 calc(50vw - (min(100vw,600px))/2 - 2px);
  margin: 1px;
  overflow-y: auto;
}
#container::-webkit-scrollbar {
  display: none;
}
#scroll_track {
  background: var(--secondary);
  width: 3px;
  height: 25%;
  top: 37.5%;
  position: fixed;
  right: 7.5px;
  border-radius: 15px;
  z-index: 1;
}
#scroll_bar {
  background: var(--text);
  width: 3px;
  height: 4%;
  position: fixed;
  right: 7.5px;
  border-radius: 15px;
  transform: translateY(0px);
  z-index: 1;
}
button:focus, input:focus, textarea:focus {
  outline:0;
}
hr {
  width: 80%;
  height: 1px;
  margin: 20px auto;
  color: var(--secondary);
  background: var(--secondary);
  border: 0;
}
#menu_btn {
  position: fixed;
  background: var(--background);
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  box-shadow: 0 0 0 1px var(--secondary),0 5px 5px #0022;
  border-radius: 100%;
  z-index: 3;
}
#theme_btn {
  position: fixed;
  background: var(--background);
  bottom: 20px;
  right: 20px;
  width: 35px;
  height: 35px;
  box-shadow: 0 0 0 1px var(--secondary),0 5px 5px #0022;
  border: none;
  overflow: hidden;
  border-radius: 100%;
  z-index: 3;
}
#theme_btn svg {
  width: 60%;
}
#menu_btn .line {
  background: var(--text);
  position: fixed;
  top: 31px;
  right: 27.5px;
  width: 15px;
  height: 2px;
  transition: all 0.25s ease;
}
#menu_btn .line:nth-child(1) {
  top: 37px;
  right: 27.5px;
}
#menu_btn.active .line {
  top: 34px;
  right: 27.5px;
  transform: rotateZ(-45deg);
}
#menu_btn.active .line:nth-child(1) {
  transform: rotateZ(45deg);
}
#menu {
  backdrop-filter: blur(75px);
  -webkit-backdrop-filter: blur(75px);
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100%);
  max-width: 600px;
  height: calc(100% - 10vmin);
  padding: 5vmin calc(50vw - min(100vw,600px)/2);
  transition: opacity 0.25s ease, top 0.25s ease;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
}
#menu.active {
  opacity: 1;
  touch-action: none;
  pointer-events: auto;
}
.banner {
  width: calc(100% - 8px);
  margin: 4px;
  border-radius: 0 0 20px 20px;
}
sub {
  font-size: 10px;
}
.posts {
  width: 100%;
  text-align: center;
}
.posts .wrapper {
  display: inline-block;
}
.post {
  height: 100%;
  width: calc(70%);
  padding: 5%;
  margin: 2.5% 0;
  box-shadow: 0 0 0 1px var(--secondary);
  border-radius: 20px;
  display: inline-block;
  text-decoration: none;
  transition: transform 0.25s ease;
}
.post , .post * {
  background: var(--primary);
}
@media screen and (min-width: 600px) {
  .post {
    width: calc(35%);
    padding: 2.5%;
    margin: 2.5%;
  }
}
.post img {
  width: 100%;
  border-radius: 15px;
}
.post div {
  margin-top: 15px;
}
.post:active {
  transform: scale(0.85);
}
canvas {
  image-rendering: pixelated;
}
textarea {
  border: 0;
  resize: none;
}
.box, canvas, textarea {
  background: var(--primary);
  width: 80%;
  max-width: 300px;
  margin: 2.5% max(5%,calc(50% - (150px + 5%)));
  padding: 5%;
  box-shadow: 0 0 0 1px var(--secondary);
  border-radius: 15px;
}
.text {
  width: 80%;
  max-width: 400px;
  margin: 2.5% max(5%,calc(50% - (200px + 5%)));
  padding: 5%;
  text-align: justify;
}
.icon {
  width: 24px;
  height: 24px;
  margin: 0 10px;
  border: none;
}
.icon-list {
  height: 50px;
}
#downloadBtn {
  fill: var(--text);
  width: 80%;
  max-width: 300px;
  height: 40px;
  padding: 0 5%;
  margin: 2.5% max(5%,calc(50% - (150px + 5%)));
  box-shadow: 0 0 0 1px var(--secondary);
  border-radius: 15px;
  transition: transform 0.125s ease;
}
#downloadBtn:active {
  transform: scale(0.75);
}
#downloadBtn svg {
  width: 100%;
  height: 100%;
  transform: scale(0.625);
}
.linkBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 300px;
  height: 40px;
  padding: 0 5%;
  margin: 2.5% max(5%,calc(50% - (150px + 5%)));
  box-shadow: 0 0 0 1px var(--secondary);
  border-radius: 10px;
  background: var(--primary);
  text-decoration: none;
  transition: transform 0.125s ease;
}
.linkBtn:active {
  transform: scale(0.75);
}
.link {
  color: var(--text);
}
