@font-face {
  font-family: "inter";
  src: url("../fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}
@font-face {
  font-family: "estedad";
  src: url("../fonts/Estedad[KSHD,wght].woff2");
}
* {
  padding: 0;
  margin: 0;
  font-family: "inter","estedad";
  vertical-align: text-top;
  text-align: auto !important;
  unicode-bidi: plaintext !important;
}
::selection {
  background-color: #000;
  color: #fff;
}
::-webkit-selection {
  background-color: #000;
  color: #fff;
}

html {
  background: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  background: #fff;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overscroll-behavior: none;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}
#container {
  position: fixed;
  width: calc(min(100% ,600px) - 2px);
  height: calc(100% - 2px);
  min-height: 100%;
  padding: 0 calc(50vw - (min(100vw,600px))/2 - 2px);
  margin: 1px;
  overflow-y: auto;
}
#container::-webkit-scrollbar {
  display: none;
}
#scrollTrack {
  background: #dde;
  width: 3px;
  height: 25%;
  top: 37.5%;
  position: fixed;
  right: 7.5px;
  border-radius: 15px;
  z-index: 1;
}
#scrollBar {
  background: #000;
  width: 3px;
  height: 4%;
  position: fixed;
  right: 7.5px;
  border-radius: 15px;
  transform: translateY(0px);
  z-index: 1;
}
button:focus, input:focus, textarea:focus {
  outline:0;
}
hr {
  width: 80%;
  height: 8px;
  margin: 20px auto;
  color: #dde;
  background: url("data:image/svg+xml,%3Csvg aria-hidden='true' width='100%25' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpattern id='a' width='91' height='8' patternUnits='userSpaceOnUse'%3E%3Cg clip-path='url(%23clip0_2426_11367)'%3E%3Cpath d='M114 4c-5.067 4.667-10.133 4.667-15.2 0S88.667-.667 83.6 4 73.467 8.667 68.4 4 58.267-.667 53.2 4 43.067 8.667 38 4 27.867-.667 22.8 4 12.667 8.667 7.6 4-2.533-.667-7.6 4s-10.133 4.667-15.2 0S-32.933-.667-38 4s-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0-10.133-4.667-15.2 0-10.133 4.667-15.2 0' stroke='%23dde' stroke-linecap='square'%3E%3C/path%3E%3C/g%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3C/svg%3E");
  border: 0;
}
#menu_btn {
  position: fixed;
  background: #fff;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  box-shadow: 0 0 0 1px #dde,0 5px 5px #0022;
  border-radius: 100%;
  z-index: 3;
}
#menu_btn .line {
  background: #000;
  position: fixed;
  top: 31px;
  right: 27.5px;
  width: 15px;
  height: 2px;
  transition: all 0.25s ease;
}
#menu_btn .line:nth-child(1) {
  top: 37px;
  right: 27.5px;
}
#menu_btn.active .line {
  top: 34px;
  right: 27.5px;
  transform: rotateZ(-45deg);
}
#menu_btn.active .line:nth-child(1) {
  transform: rotateZ(45deg);
}
#menu {
  background: #fff;
  position: fixed;
  top: -8px;
  right: 0;
  width: calc(100%);
  max-width: 600px;
  height: calc(100% - 10vmin);
  padding: 5vmin calc(50vw - min(100vw,600px)/2);
  transition: all 0.25s ease;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
}
#menu.active {
  position: fixed;
  top: 0;
  right: 0;
  opacity: 1;
  touch-action: none;
  pointer-events: auto;
}
.banner {
  width: calc(100% - 8px);
  margin: 4px;
  border-radius: 0 0 20px 20px;
}
.profile {
  width: 100%;
  height: 80px;
  display: inline-flex;
}
.profile .pfp {
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 100%;
  object-fit: cover;
}
.profile div {
  width: calc(100% - 80px);
  height: 60px;
  margin-top: 10px;
  padding-top: 5px;
}
sub {
  font-size: 12px;
  color: #000;
}
.post {
  width: 80%;
  max-width: 300px;
  margin: 2.5% max(5%,calc(50% - (150px + 5%)));
  padding: 5%;
  box-shadow: 0 0 0 1px #dde;
  border-radius: 20px;
  display: block;
  text-decoration: none;
  color: #000;
}
.post img {
  width: 100%;
  border-radius: 15px;
}
.post div {
  margin-top: 15px;
}
canvas {
  image-rendering: pixelated;
}
textarea {
  border: 0;
  resize: none;
}
.box, canvas, textarea {
  width: 80%;
  max-width: 300px;
  margin: 2.5% max(5%,calc(50% - (150px + 5%)));
  padding: 5%;
  box-shadow: 0 0 0 1px #dde;
  border-radius: 15px;
}
.text {
  width: 80%;
  max-width: 400px;
  margin: 2.5% max(5%,calc(50% - (200px + 5%)));
  padding: 5%;
  text-align: justify;
}
.icon {
  width: 24px;
  height: 24px;
  margin: 0 10px;
  color: #000;
}
.icon-list {
  height: 50px;
}
#downloadBtn {
  width: 80%;
  max-width: 300px;
  height: 40px;
  padding: 0 5%;
  margin: 2.5% max(5%,calc(50% - (150px + 5%)));
  box-shadow: 0 0 0 1px #dde;
  border-radius: 15px;
  transition: all 0.125s ease;
}
#downloadBtn:active {
  transform: scale(0.75);
}
#downloadBtn svg {
  width: 100%;
  height: 100%;
  transform: scale(0.625);
}
.linkBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 300px;
  height: 40px;
  padding: 0 5%;
  margin: 2.5% max(5%,calc(50% - (150px + 5%)));
  box-shadow: 0 0 0 1px #dde;
  border-radius: 10px;
  color: #000;
  text-decoration: none;
  transition: all 0.125s ease;
}
.linkBtn:active {
  transform: scale(0.75);
}
.link {
  color: #000;
}