<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#f3ebfa">
  <base href="/assets/">
  <link rel="icon" href="./img/icons/clown-48x.png" type="image/png">
  <!--link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=swap"-->
  <link rel="stylesheet" href="./css/style.css?{{site.time|date:'%s%N'}}">
  <title>Nxrix : {{ page.title }}</title>
</head>
<body>
  <div class="top_bar">
    <div class="content">
      <!--<div class="icon">
        <img src="./img/icons/clown-3.png">
      </div>-->
      <a class="title-img" href="../">
        <img src="./img/text/nxrix-text-0.png" class="pixelated">
      </a>
      <div class="links">
        <a href="../posts/" class="link">Posts</a>
        <a href="../" class="link">Projects</a>
        <a href="../soon/" class="link">Gallery</a>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="scroll_wrapper">
      <div class="content">
        {{ content }}
        <footer class="footer">
          <section class="about">
            <div class="text">
              <div class="icon">
                <img class="pixelated" src="./img/svg/deer.svg">
              </div>
              <p class="description">
                Nxrix - {{ site.time | date: '%Y' }} All rights reserved.
              </p>
            </div>
            <ul class="links">
              <li>Social</li>
              <li><a href="https://github.com/Nxrix" target="_blank">Github</a></li>
              <li><a href="https://t.me/Nxrix">Telegram</a></li>
              <li><a href="https://twitter.com/ZNxrix">Twitter</a></li>
            </ul>
            <ul class="links">
              <li>Projects</li>
              <li><a href="https://github.com/Nxrix/pixel-8" target="_blank">Pixel-8</a></li>
              <li><a href="https://github.com/Nxrix/kuarx" target="_blank">Kuarx</a></li>
              <li hidden><a href="">Core</a></li>
            </ul>
            <ul class="links">
              <li>Tools</li>
              <li><a href="../soon/" target="_blank">Palettes</a></li>
              <li><a href="https://nxrix.github.io/projects/unicode/" target="_blank">Unicode</a></li>
            </ul>
          </section>
        </footer>
      </div>
    </div>
  </div>
</body>
<script src="./js/screen.js"></script>
<script>

const fullscreen = () => {
  var div = document.documentElement;
  if (!document.mozFullScreen && !document.webkitFullScreen) {
    if (div.mozRequestFullScreen) {   
      div.mozRequestFullScreen();
    } else {
      div.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
    }
  } else {
    if (document.mozCancelFullScreen) {
      document.mozCancelFullScreen();
    } else {
      document.webkitCancelFullScreen();
    }
  }
}

</script>
</html>
